extends layout 
block meta
    link(rel='stylesheet', href='/assets/stylesheets/pages/developedby.css')
    link(rel='stylesheet', href='/assets/javascripts/developedby')
block content 
    <title>Our Team</title>
    <body>
        <div class="container">
            <div class="card">
                <div class="imgBox"><img src="/assets/images/team/shreyash.jpeg"></div>
                <h4>Shreyash Shinde</h4>
                <h5>Back-End Developer</h5>
                <p></p>
                <a href="#">Github</a>
            </div>

            <div class="card">
                <div class="imgBox"><img src="/assets/images/team/sakshi.jpeg"></div>
                <h4>Sakshi Marne</h4>
                <h5>Front-End Developer</h5>
                <p></p>
                <a href="#">Github</a>
            </div>
            
            <div class="card">
                <div class="imgBox"><img src="/assets/images/team/piyush.jpeg"></div>
                <h4>Piyush Marde</h4>
                <h5>UI/UX<br> Designer</h5>
                <p></p>
                <a href="#">Github</a>
            </div>
            
            <div class="card">
                <div class="imgBox"><img src="/assets/images/team/mayur.jpeg"></div>
                <h4>Mayur Pawar</h4>
                <h5>Software Testing</h5>
                <p></p>
                <a href="#">Github</a>
            </div>
            
        </div>
    </body>
    </html>
